
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
<fieldset>

    <p>
        Mã : @Model.Manv
    </p>
    <p>
        Họ tên : @Model.Hoten
       
    </p>
    <p>
        Phòng : @Model.Phong
        
    </p>
    <p>
        Lương : @Model.Luong
    </p>
    <p>
        @Html.ActionLink("Sủa", "Edit", new { id = Model.Manv.Trim() }) |
        @Html.ActionLink("Xóa", "Delete", new { id = Model.Manv.Trim() }) |
        @Html.ActionLink("Tro ve","Index")
    </p>
</fieldset>

}