
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Fields</legend>
    <div class="display-label">Ten loai tin : @Model.Theloaitin.Tentheloai</div>
    <div class="display-label">Tieu de tin : @Model.Tieudetin</div>
    <div class="display-label">Noi dung tin : @Model.Noidungtin</div>
</fieldset>
@using (Html.BeginForm())
{
    <p>
        @Html.ActionLink("Sua", "Edit", new { id = Model.IdTin }) |
        @Html.ActionLink("Chi tiet", "Details", new { id = Model.IdTin }) |
        @Html.ActionLink("Tro ve", "Index")
    </p>
}