@model IEnumerable<BachQuocDong_425_16762.Models.BenhNhan>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KhoaKham.Tenkhoa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hoten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Diachi)
        </th>
        <th>
            @Html.ActionLink("Số ngày", "Index", new { sortbn = ViewBag.Sapbn })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KhoaKham.Tenkhoa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hoten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diachi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SongayNV)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Mabn }) |
            @Html.ActionLink("Details", "Details", new { id=item.Mabn }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Mabn })
        </td>
    </tr>
}

</table>
